In [10]:
import pandas as pd

# remember for the homework do an inner merge

In [11]:
df = pd.DataFrame({"grouping":["a", "a", "a", "b", "b"],
"times":[0,20,40,50,60],
 "value":[1,4,6,5,2]})

In [19]:
df_gb = df.groupby("grouping").max()
df_gb

          times  value  max_val
grouping
a            40      6        6
b            60      5        5

In [20]:
df = df.set_index("grouping")
df

          times  value  max_val
grouping
a             0      1        6
a            20      4        6
a            40      6        6
b            50      5        5
b            60      2        5

In [21]:
df["max_val"] = df_gb["value"]

In [22]:
df = df.reset_index()

In [16]:
df[df.value == df.max_val]

  grouping  times  value  max_val
2        a     40      6        6
3        b     50      5        5