## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [2]:
# Viewing the mouse_metadata data frame
mouse_metadata

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [3]:
# Viewing the Study Results Data Frame
study_results

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [4]:
# Checking the dimensions of each dataframe

print("mouse_metadata dimensions:{}".format(mouse_metadata.shape))
print("study_results dimensions:{}".format(study_results.shape))

mouse_metadata dimensions:(249, 5)
study_results dimensions:(1893, 4)

In [5]:
# Checking how many common values are present when merging on Mouse ID
study_results['Mouse ID'].isin(mouse_metadata['Mouse ID']).value_counts()

True    1893
Name: Mouse ID, dtype: int64

In [25]:
# Combine the data into a single dataset

mouse_study_results = pd.merge(
    mouse_metadata,
    study_results,
    on='Mouse ID',
    how='inner'
)

In [26]:
# Display the data table for preview
mouse_study_results

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [8]:
# Checking the number of mice.

mice_count = mouse_study_results['Mouse ID'].count()
mice_count

1893

In [35]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
mouse_ID_duplicates_TP = pd.DataFrame(mouse_study_results[mouse_study_results.duplicated(['Mouse ID','Timepoint'])])
#mouse_ID_duplicates_TP = mouse_study_results[['Mouse ID','Timepoint']]
#mouse_ID_duplicates_TP = pd.DataFrame(mouse_ID_duplicates_TP[mouse_ID_duplicates_TP.duplicated(['Mouse ID','Timepoint'])])
mouse_ID_duplicates_TP

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [40]:
# Optional: Get all the data for the duplicate mouse ID. 
#mouse_ID_duplicates = pd.DataFrame(mouse_study_results[mouse_study_results.duplicated(['Mouse ID'])])
mouse_ID_duplicates = mouse_study_results.sort_values(['Mouse ID','Timepoint'])
mouse_ID_duplicates

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
454,a203,Infubinol,Female,20,23,0,45.000000,0
455,a203,Infubinol,Female,20,23,5,48.508468,0
456,a203,Infubinol,Female,20,23,10,51.852437,1
457,a203,Infubinol,Female,20,23,15,52.777870,1
458,a203,Infubinol,Female,20,23,20,55.173336,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [11]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [12]:
# Checking the number of mice in the clean DataFrame.
mouse_count_from_clean_data = mouse_study_results_cleaned['Mouse ID'].count()
mouse_count_from_clean_data

NameError: name 'mouse_study_results_cleaned' is not defined

## Summary Statistics

In [13]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
drug_summary = mouse_study_results_cleaned.groupby(['Drug Regimen']).agg({
    'Tumor Volume (mm3)':['mean','median','var']
})

# This method is the most straighforward, creating multiple series and putting them all together at the end.
drug_summary

NameError: name 'mouse_study_results_cleaned' is not defined

In [14]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [15]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [16]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [17]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [18]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [19]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [20]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [21]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [22]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [23]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [24]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen