## Observations and Insights

In [45]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [46]:
## Mouse Meta_Data
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [47]:
## Study Results Data
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [48]:
# Combine the data into a single dataset
drug_study_data = pd.merge(
    mouse_metadata,
    study_results,
    on='Mouse ID',
    how='outer')

# Display the data table for preview
drug_study_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [66]:
# Checking the number of mice.
mouse_count = drug_study_data['Mouse ID'].count()
mouse_count

# Upon the merging of the two data frames, the Mouse ID numbers contain several replicates indicating that 1893 mice have been used in the study even though the preliminary study plan indicates that 249 mice have been used in this study.

1893

In [112]:
## Counting the number of duplicates based on Mouse ID and Timepoint
drug_study_data[['Mouse ID','Timepoint']].duplicated().sum()

5

In [106]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

mouse_duplicates_1 = drug_study_data[drug_study_data.duplicated(keep='first')]

mouse_duplicates_1

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.0,0

In [87]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [88]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [89]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [90]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [91]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [92]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [93]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [94]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [95]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [96]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [97]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [98]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [99]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [100]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen